* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.container {
    display: flex;
    color: rgba(19, 19, 19, 0.489);
    flex-direction: row;
    flex-wrap: wrap;
    width: 40vw;
    margin: 0vw 10vw 0vw 30vw;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    color: black;
    width: 10vw;
    height: 20vh;
    gap: 10px;
    border-radius: 20px;
    font-size: 50px;
    border: solid black;
    text-align: center;
}

#reset-btn {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    margin-top: 1vw;
    border-radius: 25px;
}

#new-btn {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    margin-top: 1vw;
    border-radius: 25px;
}

#msg {
    color: green;
    font-size: 5vmin;
}

.hide {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        margin-top: 50px;
    }

    .box {
        background-color: white;
        color: black;
        width: 25%;
        height: 10vh;
        gap: 10px;
        border-radius: 20px;
        font-size: 25px;
        border: solid black;
        text-align: center;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin:auto;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    #msg {
        color: green;
        font-size: 8vmin;
    }

    #reset-btn {
       margin-top: 10px;
    }
}